<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/css.ejs') %>
    <style>
        form{
            margin-top: 2rem;
            border: 1px solid black;
            padding-left: 2rem;
            padding-bottom: 2rem;
        }
        h3{
            margin-top: 1rem;
        }
    </style>
</head>
<body>
 
    <h1 style="margin-inline: auto;width: fit-content;margin-top: 1rem;">Quotsyy</h1>
    <% if (locals.error) { %>
        <div class="alert alert-danger" role="alert">
          Incorrect Login Credentials
        </div>
      <% } %>
    <form action="/signin" method="get" style="width: 75%;margin-inline: auto;">
        <h3 style="margin-inline: auto;width: fit-content;">Signin</h3>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"  >Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" style="width:80%;border: 1px solid black;" >
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" >Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" style="width:80%;border: 1px solid black;">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <center><a href="/signup">SignUp</a></center>
    </form>

    <%- include("../partials/script.ejs") %>
</body>
</html>